{% extends 'layout.html' %}

{% block title %}From to get your details{% endblock %}

{% block content %}

<div class="bg-success p-2 text-dark bg-opacity-75"> 
<div class="row align-items-center">
    <div class="col">
      <div class="col">
        <div class="card" style="width: 25rem;">
          <img src="/doctors.png" class="card-img-top" alt="...">
          <div class="card-body">
            
          </div>
        </div>
    </div>
    </div>
    <div class="col">
      
    </div>
    <div class="col">
      <div class="col">
        <div class="card" style="width: 25rem;">
          <img src="/doctors.png" class="card-img-top" alt="...">
          <div class="card-body">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bg-success p-2 text-dark bg-opacity-75"> 
  <div class="row align-items-center">
    <div class="col">
      <div class="col">
        <div class="card" style="width: 25rem;">
          <img src="/doctors.png" class="card-img-top" alt="...">
          <div class="card-body">

          </div>
        </div>
      </div>
    </div>
    <div class="col">
      
    </div>
    <div class="col">
      <div class="col">
        <div class="card" style="width: 25rem;">
          <img src="/doctors.png" class="card-img-top" alt="...">
          <div class="card-body">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>  


{% endblock %}